@import "tailwindcss";
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

progress::-webkit-progress-bar {
  @apply bg-gray-200 rounded;
}

progress::-webkit-progress-value {
  @apply bg-gray-700 rounded;
}

progress::-moz-progress-bar {
  @apply bg-blue-500 rounded;
}
